/* You can add global styles to this file, and also import other style files */
* {
    font-family: Tahoma, sans-serif;
}

input, button {
    padding: 0.5em;
    font-size: 16px;
}

button {
    background-color: rgb(255, 248, 221);
    border-radius: 8px;
}