<ul>
  <li *ngFor="let item of items$ | async">
    <!-- display mode -->
    <div *ngIf="!item.editing">
        <input type="checkbox" [(ngModel)]="item.purchased"/>
        <h2 class="text-3xl font-bold underline">{{ item.name }}</h2>
        <button (click)="startEdit(item)">Edit</button>
        <button class="delete" (click)="deleteItem(item.id)">Delete</button>
        <span></span>
        <p>${{ item.price }} × {{ item.quantity }}</p>
    </div>

    <!-- editing mode -->
    <div class="edit-mode" *ngIf="item.editing">
        <input [(ngModel)]="item.name" />
        <input type="number" [(ngModel)]="item.price" step="0.01" min="0"/>
        <input type="number" [(ngModel)]="item.quantity" step="1" min="1"/>
        <button (click)="saveItem(item)">Save</button>
        <button (click)="cancelEdit(item)">Cancel</button>
    </div>
  </li>
</ul>
