div.form {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    box-sizing: border-box;
}

form {
    gap: 0.75em;
    background-color: rgb(196, 225, 236);
    padding: 1rem;
    border-radius: 10px;
}

form,
div.form-fields,
div.form-fields > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}


@media screen and (min-width: 600px) {
    form,
    div.form-fields {
        display: flex;
        flex-direction: row;
        gap:1.5em;
    }

    div.form-fields > div {
      display: flex;
      flex-direction: column;
      gap: 0;
    }

    button {
      padding: 1em;
    }
}
