div.form {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    box-sizing: border-box;
}

form {
    gap: 0.75em;
    background-color: rgb(196, 225, 236);
    padding: 1rem;
    border-radius: 10px;
}

form,
div.form-fields,
div.form-fields > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: rgb(196, 225, 236);
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
} */


@media screen and (min-width: 600px) {
    form,
    div.form-fields,
    div.form-fields > div {
        display: flex;
        flex-direction: row;
        gap:3.5em;
        width:fit-content;
        height: fit-content;
    }

    /* form, .form-fields {
        flex-direction: row;
        gap: 3em;
        align-items: stretch; 
    }

    .form-fields > div {
        display: flex;
        flex-direction: row;
        flex: 1;              
        min-width: 0;         
     }

     button {
    align-self: flex-start;
    width: auto;
  } */


}
